<div class="panel">
  <div class="panel-body container-fluid">
    <div class="row row-lg">
      <div class="col-sm-6">
        <div class="word-wrap">
          <div class="word">
            <form class="">
              <div class="row">
              <div class="form-group">
                <textarea class="js-string form-control" rows="6"  placeholder="String"></textarea>
              </div>

              <div class="form-group">
                <button type="button" class="js-generate btn btn-primary">Generate</button>
              </div>
            </form>
          </div>
        </div>

      </div>


    </div>
    <div class="col-sm-6">
      <div class='js-words' style="height: 350px;overflow-y: scroll;">
        <div class="form-group js-word-group hidden">
          <input type="text" class="form-control" name="word" placeholder="Word Name" autocomplete="off">
        </div>
      </div>

      <div class="form-group" style="margin-top: 20px;">
        <input type="text" class="form-control js-note" placeholder="Note" autocomplete="off">
      </div>

      <div class="form-group">
        <button type="button" class="js-create btn btn-primary">Create</button>
      </div>
    </div>
    <div class="clearfix hidden-xs"></div>
  </div>

</div>