
<div class='word' style="padding: 15px;margin: 15px;border: 1px solid;">
  <h4 class="word-title"><%= word.name %></h4>
  <h5 style="color:  #E53B75;"> <%= word.pron %> </h5>
  <h5 style="color:  #279566;"> <%= word.means %> </h5>
</div>
