<div class="panel">
  <div class="panel-body">
    <button type="button" class="js-next btn btn-primary">Next</button>
    <button type="button" class="js-reset btn btn-primary">Reset</button>
    <div class='js-words'>

    </div>
    <div class='js-results'>

    </div>
  </div>
</div>