<div class='word js-word' style='text-align:center;'>
  <h4 class="word-title" style="font-weight: bold;font-size: 40px;"><%= word.means %></h4>
  <h5 style="color:  #E53B75;"> <%= word.pron %> </h5>
  <h5 style="<%= isSentence ? "font-weight: bold;font-size: 25px; color:  #279566;" : "color:  #279566;" %> "> <%= word.name %> </h5>
</div>
