<div class="row">
  <div class="quest-panel fadeIn animated">
    <div class="panel-heading">
      <div class='quest-timer js-timer' id="timer"> </div>
      <h4 class="panel-title">Heading With Desc Bottom
        <span class="panel-desc">Panel Description Here..</span>
      </h4>
    </div>
    <div class="panel-body">
      <ul class="list-group margin-li-group list-group-bordered">
        <li class="list-group-item js-answer btn-outline btn-raised" data-position=1 >
        1. akjhdajshdkjahkdjhkajshdkahdjhaskdhahdkjhaskdjhkasjhdjkhakdhah</li>
        <li class="list-group-item js-answer btn-outline btn-raised" data-position=2 >2. Dapibus ac facilisis in</li>
        <li class="list-group-item js-answer btn-outline btn-raised" data-position=3 >3. Morbi leo risus</li>
        <li class="list-group-item js-answer btn-outline btn-raised" data-position=4 >4. Disabled</li>
      </ul>
    </div>
  </div>
</div>